html {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background: white;
    margin: 0px;
    padding: 0px;
}

header {
    display: flex;
    justify-content: center;
    background-color: #E6E6E6;
    padding-top: 2vh;
    padding-bottom: 2vh;
}

.cv h1 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 33px;
    color: #005677;
    font-weight: 700;
    padding-top: 1.2vh;
    padding-bottom: 1.2vh;
    margin-bottom: 13vh;
}

.title {
    background-color: #c4c4c4;
    text-transform: uppercase;
    letter-spacing: 8px;
    color: #005677;
}

.info {
    font-size: 22px;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 1vw;
    font-weight: 700;
}

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    background-color: rgba(196, 196, 196, 1);
    font-family: 'Times New Roman';
    font-style: normal;
    
    color: #005677;
}

h2 {
    background-color: rgba(196, 196, 196, 1);
    color: #005677;
}

.data {
    font-weight: bold;
    font-style: italic;
}

.years {
    font-weight: bold;
}

.years ul {
    margin-left: -0.8vw;
    margin-bottom: 0vh;
}

.years li {
    margin-top: 0.5vh;
    margin-left: 5.5vw;
    margin-bottom: 0vh;

}

.sinformato {
    font-weight: normal;
    font-style: normal;
}

main {
    margin-bottom: 100px;
}

footer {
    background-color: #005677;
    color: white;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 4vh;
    width: 100%;
    position: fixed;
    bottom: 0;
}

footer p{
    margin-right: 1vw;
}

#ico{
    margin-right: 1vw;
}

.inline {
    display: inline-block;
    color: white;
    text-align: center;
}
